<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-tagsinput.css">
    <style type="text/css">
        .bootstrap-tagsinput {
            width: 100%;
        }

        legend {
            font-size: 100%;
            margin-bottom: 5px;
            font-weight: 700;
            border-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            <h1>Places to try</h1>
            <form name="mturk_form" id="mturk_form" method="post" action="{{ local_url }}">
            <input type="hidden" name="start_ts">
            <label>Location ID
                <input name="location" type="text" value="{{ location }}">
            </label>
            <label>Type
            <input name="type" list="type">

            <datalist id="type">
              <option value="Business">Business</option>
              <option value="Holiday">Holiday</option>
              <option value="Other">Other</option>
              </datalist>
            </label>

            <label>Duration
            <input name="duration" list="duration">

            <datalist id="duration">
              <option value="Night out">Night out</option>
              <option value="Day trip">Day trip</option>
              <option value="Weeked trip">Weeked trip</option>
              <option value="Longer">Longer</option>
              </datalist>
            </label>

            <label>Group
            <input name="group" list="group">

            <datalist id="group">
              <option value="Alone">Alone</option>
              <option value="Friends">Friends</option>
              <option value="Family">Family</option>
              <option value="Other">Other</option>
              </datalist>
            </label>

            <label>Season
            <input name="season" list="season">

            <datalist id="season">
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Autumn">Autumn</option>
              <option value="Winter">Winter</option>
              </datalist>
            </label>


            {{#documents}}
            <div>
                <input type="hidden" name="item{{ index }}_rating_ts">
                <input type="hidden" name="item{{ index }}_tags_ts">
                <input type="hidden" name="item{{ index }}_docid" value="{{ id }}">
                <h2><a href="{{ url }}" target="_blank">{{ title }}</a></h2>
                <p>{{ description }}</p>
                <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
                <fieldset>
                <legend>Rating</legend>
                <div class="btn-group form-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" value="1" name="item{{ index }}_rating"> 1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="2" name="item{{ index }}_rating"> 2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="3" name="item{{ index }}_rating"> 3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="4" name="item{{ index }}_rating"> 4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="5" name="item{{ index }}_rating"> 5
                    </label>
                </div>
                </fieldset>
                <div class="form-group">
                    <label for="item{{ index }}_tags">Tags <a href="" data-toggle="modal" data-target="#tagsHelp">[?]</a></label>
                    <select multiple name="item{{ index }}_tags" id="item{{ index }}_tags" class="form-control" data-role="tagsinput"></select>
                </div>
            </div>
            {{/documents}}
            <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
        <div class="modal" id="tagsHelp" tabindex="-1" role="dialog" aria-labelledby="tagsHelpLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tagsHelpLabel">Tags</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add any of the following tags for reasons you like this attraction.</p>
                        <ul>
                        {{#tags}}
                        <li>{{ . }}</li>
                        {{/tags}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery-1.11.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-tagsinput.min.js"></script>
    <script src="static/js/bootstrap3-typeahead.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>

    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script>
        $(".typeahead").tagsinput({
            typeahead: {
                minLength: 0,
                showHintOnFocus: true,
                displayText: function(item) {
                    return item;
                },
                source: {{{raw_tags}}}
            },
            freeInput: false
        });
    </script>
    <script>
        $(function(){
            $('input[name=start_ts]').val((new Date()).toUTCString());
            $('input, select').change(function() {
                $('input[name=' + $(this).attr('name') + '_ts]').val((new Date()).toUTCString());
            })
        })
    </script>
    <script></script>
</body>
</html>
